:root {
    --primary-color: #09847f;
    --scondary-color: #b4613d;
    --white-color: #ffffff;
    --body-color: #333333;
    --background-color: #f8f8f8;
    --line-color: #dddddd;
}


html {
    font-size: 62.5%;
}

.btn {
    cursor: pointer;
    background: ;
}

body {
    color: #333;
    font-size: 1.6rem;
}

.inner {
    max-width: 1400px;
    margin: 0 auto;
}

.default h2 {
    font-size: 4rem;
    font-weight: 800;
}

.default h3 {
    font-size: 3rem;
    line-height: 3.2rem;
    font-weight: 700;
}

.scroll::after {
    content: "";
    display: block;
    width: 1px;
    height: 4rem;
    background: rgba(255, 255, 255, 0.5);

    margin: 2rem auto 0 auto;
}

.scroll::before {
    content: "";
    position: absolute;
    top: 3rem;
    left: 50%;
    width: 5px;
    height: 4px;
    transform: translate(-50%, -50%);
    background: var(--white-color);
    border-radius: 50%;

    animation: scroll 2s infinite;
}

@keyframes scroll {
    0% {
        top: 1.4rem;
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }

    80% {
        top: 100%;
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }

    
    60% {
        top: 100%;
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }

    100% {
        top: 100%;
        transform: translate(-50%, -50%) scale(10);
        opacity: 0;
    }
}

.circle_btn {

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 18rem;
    height: 18rem;

    border-radius: 50%;

}

.circle_btn img {
    height: 3.2rem;
}

.circle_btn::before {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    border-radius: 50%;
    opacity: 0;
}

.circle_btn:hover::before {
    animation: circle 1s infinite;
}

@keyframes circle {
    0% {
        opacity: 0.5;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(1.3);
    }
}

.circle_btn strong {
    margin: 1.6rem 0 0 0;
    color: var(--white-color);
    text-align: center;
    font-size: 1.8rem;
    line-height: 2.4rem;
}

#skip {}

#skip a {
    display: block;
    line-height: 80px;
    background: #333;
    color: #fff;
    text-align: center;
    font-size: 20px;

    position: absolute;
    top: -80px;
    left: 0;
    right: 0;
    z-index: 1000;
}

#skip a:focus,
#skip a:active {
    top: 0;
}


html,body {width:100%;  }
body,div,ul,li{margin:0; padding:0;}
ul,li {list-style:none;}

.itm{flex-shrink:0;}
/*tab css*/


.dot::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: transparent;
}

.dot::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    animation: circle 0s infinite;
}

.dot{
    content: "";
    position: absolute;
    left: 20;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
}

.dota{
    animation: scroll 10s infinite ;
}

.dotb{
    animation: scroll 12s infinite ;
}

.dotc{
    animation: scroll 14s infinite ;
}

.con::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    animation: circle 6s infinite;
}

@keyframes dota {
    0% {
        opacity: 0.5;
        transform: scale(2);
    }

    
    60% {
        opacity: 0;
        transform: scale(1.2);
    }


    100% {
        opacity: 0;
        transform: scale(1.5);
    }
}
