#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}


#header.on {
    border-bottom: 0px solid rgba(0, 0, 0, 0.25);
}

#header h1 a  {
    width: 230px;
    height: 20px;
    background-size: cover;
    background-size: 100% auto;
}

#header.on h1 a {
    background-image: url(../images/logo_black_.svg);
    width: 250px;
    height: 20px;
    background-size: cover;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

#header.on h1 a img {
    display: none;
}


#header .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8rem;

    transition: 0.4s;
}

#header.on .inner {
    height: 6rem;
}

#header h1 a {
    display: flex;
    flex: 1;
}

#header h1 img {
    height: 2rem;
}

#header.on h1 img:nth-child(2) {
    filter: invert();
}


#gnb a {
    white-space: nowrap;
}

#gnb>ul {
    display: flex;
}

#header #gnb>ul>li>a {
    display: block;
    padding: 0 2.2rem;
    font-size: 16px;
    color: var(--white-color);
    line-height: 12rem;
    font-weight: 500;
}

#header.on #gnb>ul>li>a {
    display: block;
    padding: 0 2.2rem;
    font-size: 14px;
    color: #555;
    line-height: 12rem;
    font-weight: 500;
}

#header.on #gnb>ul>li>a {
    color: #333;
}

#header .inner {
    display: flex;
}

#gnb ul>li {
    position: relative;
}

#gnb ul>li ul {
    position: absolute;
    top: auto;
    left: 50%;
    width: 16rem;
    background: var(--white-color);
    border: 1px solid var(--line-color);
    transform: translate(-50%, -3rem);
    border-radius: 0.8rem;
    box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.1);

    opacity: 0;
    visibility: hidden;

    transition: 0.4s;

}

#gnb ul>li:hover ul {
    transform: translate(-50%, -2rem);
    opacity: 1;
    visibility: visible;
}

#gnb ul>li ul a {
    display: block;
    line-height: 4rem;
    height: 4rem;
    font-size: 1.4rem;
    text-align: center;
}

#gnb ul>li ul a:hover {
    color: var(--primary-color);
}

#gnb ul>li ul li:not(:first-child) a {
    border-top: 1px solid var(--line-color);
}

#header .util {
    display: flex;
    gap: 3.2rem;
}

#header .util li {
    position: relative;
}

#header .util li~li::before {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: -17px;
    width: 2px;
    height: 2px;
    background: var(--white-color);
}

#header.on .util li~li::before {
    background: var(--body-color);
}

#header .util .icon img {
    width: 24px;
    height: 24px;
}

#header.on .util .icon {
    width: 24px;
    height: 24px;
    background: url(../images/ico_24_allmenu_bla.svg);
    background-size: cover;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

#header.on .util .icon img {
    display: none;
}

#header .util a {
    white-space: nowrap;
    font-size: 1.4rem;
    color: var(--white-color);
}

#header.on .util a {
    color: #333;
}

#mainVisual {
    position: relative;
}

.main_visual_slide {
    border-radius: 0 0 16rem 0;
    overflow: hidden;
}


#mainVisual .itm {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

#mainVisual .itm01 .slide-img {
    position: absolute;
    inset: 0 0 0 0;
    background: url(../images/mainvisual01.jpg) no-repeat left center/cover;
}

#mainVisual .itm02 .slide-img {
    position: absolute;
    inset: 0 0 0 0;
    background: url(../images/mainvisual02.jpg) no-repeat left center/cover;
}

#mainVisual .itm .slg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100rem;
    width: 100%;

    text-align: center;
}

#mainVisual .itm .slg .img_box {
    text-align: center;
    margin: 0 0 4rem 0;
}

#mainVisual .itm .slg p {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: rem;
    text-align: center;
    color: var(--white-color);
    margin: 0 auto;
}

#mainVisual .itm .slg img {
    height: 24rem;
}

#mainVisual .arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    transform: translate(-50%, -50%);
}

#mainVisual:hover .arrows {
    max-width: 120rem;
}


#mainVisual .arrows {
    position: absolute;
    background: rgba(0, 0, 0, 0.1);
    width: 55px;
    height: 30px;
    border-radius: 56px;
    bottom: 100%;
    left: 48%;
    transform: translate(10%, 380px);
}




#mainVisual .arrows .prev {
    position: absolute;
    top: 18%;
    left: 4%;
    transform: translate(0%, 0%);
    width: 20px;
    height: 20px;
}

#mainVisual .arrows .next {
    position: absolute;
    top: 18%;
    left: 58%;
    transform: translate(0%, 0%);
    width: 20px;
    height: 20px;
}

#mainVisual .scroll {
    position: absolute;
    bottom: 0;
    right: 10%;
    z-index: 2;
    color: #777;
    transform: translate(0%, 0%);
}

#mainVisual .scroll span {
    position: absolute;
    font-size: 1.0rem;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    top: 0%;
    right: 13%;
    transform: translate(50%);
}



.menu_wrap .title h2 {
    font-size: 62px;
    font-weight: 800;
    color: #000;
    margin-bottom: 46px;
}


.main_contnet {
    max-width: 1920px;
    padding: 80px 0;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}

.menu_wrap {
    margin: 0 20px;
}

.main_contnet .inner {
    position: relative;
}



.menu_wrap .title h2::before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    background: #d50037;
    left: 30%;
    top: 9%;
    transform: translate(0%, 5%);
}

.menu_wrap .slider .inner {
    max-width: 1500px;
    margin-left: 25%;
    overflow: hidden;
}

.menu_wrap .swiper-slide {
    width: 1500px;
}

.menu_wrap .swiper-slide img {
    max-width: 340px;
    height: 340px;
    overflow: hidden;
}

.menu_wrap .towsomemenu_list li a {
    font-size: 2.4rem;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-weight: 400;
    color: #999;
}

.menu_wrap .towsomemenu_list li.active a {
    font-size: 3.2rem;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-weight: 700;
    color: #333;
}


.menu_wrap .towsomemenu_list li {
    margin-top: 30px;
}

.menu_wrap .towsomemenu_list li a::after {
    content: "";
    display: block;
    border: 1px solid #ddd;
}

.menu_wrap .towsomemenu_list {
    position: absolute;
}

.menu_wrap .btn {
    background: #979797;
}

.menu_wrap .btn_prev {
    position: absolute;
    bottom: 25%;
    left: 1%;
    transform: translate(20%, 10%);
}
.menu_wrap .btn_next {
    position: absolute;
    bottom: 25%;
    left: 5%;
    transform: translate(20%, 9%);
}

