* {
    outline: 1px solid tomato--;
}


#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}


#header.on {
    border-bottom: 0px solid rgba(0, 0, 0, 0.25);
}

#header h1 a  {
    width: 230px;
    height: 20px;
    background-size: cover;
    background-size: 100% auto;
}

#header.on h1 a {
    background-image: url(../images/logo_black_.svg);
    width: 250px;
    height: 20px;
    background-size: cover;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

#header.on h1 a img {
    display: none;
}


#header .inner {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    height: 8rem;
    max-width: 1600px;
    margin: 0 auto;
    

    transition: 0.4s;
}

#header.on .inner {
    height: 6rem;
}

#header h1 a {
    display: flex;
    flex: 1;
}

#header h1 img {
    height: 2rem;
}

#header.on h1 img:nth-child(2) {
    filter: invert();
}


#gnb a {
    white-space: nowrap;
}

#gnb>ul {
    display: flex;
}

#header #gnb>ul>li>a {
    display: block;
    padding: 0 2.4rem;
    font-size: 16px;
    color: var(--white-color);
    line-height: 12rem;
    font-weight: 500;
}

#header.on #gnb>ul>li>a {
    display: block;
    padding: 0 2.4rem;
    font-size: 16px;
    color: #555;
    line-height: 12rem;
    font-weight: 500;
}

#header.on #gnb>ul>li>a {
    color: #333;
}

#header .inner {
    display: flex;
}

#gnb ul>li {
    position: relative;
}

#gnb ul>li ul {
    position: absolute;
    top: 85%;
    left: 50%;
    width: 16rem;
    background: var(--white-color);
    border: 1px solid var(--line-color);
    transform: translate(-50%, -3rem);
    border-radius: 0.6rem;
    box-shadow: 18px 18px 18px rgba(0, 0, 0, 0.1);

    opacity: 0;
    visibility: hidden;

    transition: 0.4s;

}

#gnb ul>li:hover ul {
    transform: translate(-50%, -2rem);
    opacity: 1;
    visibility: visible;
}

#gnb ul>li ul a {
    display: block;
    line-height: 4rem;
    height: 4rem;
    font-size: 1.4rem;
    text-align: center;
    color: #777;
    font-weight: 400;
}

#gnb ul>li ul a:hover {
    color: #333;
    font-weight: 500;
}

#gnb ul>li ul li:not(:first-child) a {
    border-top: 1px solid var(--line-color);
}

#header .util {
    display: flex;
    gap: 3.2rem;
}

#header .util li {
    position: relative;
}

#header .util li~li::before {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: -17px;
    width: 2px;
    height: 2px;
    background: var(--white-color);
}

#header.on .util li~li::before {
    background: var(--body-color);
}

#header .util .icon img {
    width: 24px;
    height: 24px;
}

#header.on .util .icon {
    width: 24px;
    height: 24px;
    background: url(../images/ico_24_allmenu_bla.svg);
    background-size: cover;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

#header.on .util .icon img {
    display: none;
}

#header .util a {
    white-space: nowrap;
    font-size: 1.4rem;
    color: var(--white-color);
}

#header.on .util a {
    color: #333;
}

#mainVisual {
    position: relative;
}

.main_visual_slide {
    border-radius: 0 0 16rem 0;
    overflow: hidden;
}


#mainVisual .itm {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

#mainVisual .itm01 .slide-img {
    position: absolute;
    height: 100vh;
    inset: 0 0 0 0;
    background: url(../images/mainvisual01.jpg) no-repeat left center/cover;
}

#mainVisual .itm02 .slide-img {
    position: absolute;
    height: 100vh;
    inset: 0 0 0 0;
    background: url(../images/mainvisual02.jpg) no-repeat left center/cover;
}

#mainVisual .itm .slg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100rem;
    width: 100%;

    text-align: center;
}

#mainVisual .itm .slg .img_box {
    text-align: center;
    margin: 0 0 4rem 0;
}

#mainVisual .itm .slg p {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: rem;
    text-align: center;
    color: var(--white-color);
    margin: 0 auto;
}

#mainVisual .itm .slg img {
    height: 24rem;
}

#mainVisual .arrows {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 999;
    transform: translate(0%, 0%);
}

#mainVisual:hover .arrows {
    max-width: 120rem;
}

#mainVisual .blind {
    position: relative;
}


#mainVisual .arrows {
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    width: 80px;
    height: 40px;
    border-radius: 56px;
    top: 50%;
    left: 46%;
    transform: translate(49%,0%);
}


#mainVisual .arrows .prev {
    position: absolute;
    top: 14%;
    left: 6%;
    transform: translate(0%, 0%);
    width: 28px;
    height: 28px;
}

#mainVisual .arrows .next {
    position: absolute;
    top: 14%;
    left: 57%;
    transform: translate(0%, 0%);
    width: 28px;
    height: 28px;
}

#mainVisual .scroll {
    position: absolute;
    bottom: 0%;
    left: 50%;
    z-index: 2;
    color: #777;
    transform: translate(0%, 0%);
}

#mainVisual .scroll span {
    position: absolute;
    font-size: 1.2rem;
    text-transform: uppercase;
    top: 0%;
    right: 13%;
    transform: translate(50%);
}



.main_contnet {
    max-width: 1920px;
    height: 1000px;
    padding: 120px 0;
    margin: 0 auto;
    background: #fff;
}

.main_contnet .inner {
    max-width: 1200px;
    position: relative;
    overflow: hidden;
}

.menu_wrap h2 {
    font-size: 80px;
    font-weight: 800;
    color: #000;
    margin-bottom: 46px;
}


.menu_wrap h2::before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    background: #d50037;
    left: 43%;
    top: 14%;
    transform: translate(0%, 25%);
}

.menu_wrap .slider .inner {
    left: 35%;
}


.menu_wrap .swiper-slide img {
    max-width: 370px;
    height: 430px;
    margin: 0 auto;
}

.menu_wrap .towsomemenu_list {
    position: absolute;
    top: 200px;
}

.menu_wrap .towsomemenu_list li {
    margin-top: 5%;
}


.menu_wrap .towsomemenu_list li a {
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-weight: 400;
    color: #999;
}

.menu_wrap .towsomemenu_list li.active a {
    font-size: 3.2rem;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-weight: 700;
    color: #333;
}

.menu_wrap .towsomemenu_list li .minitxt {
    font-size: 0px;
}

.menu_wrap .towsomemenu_list li.active .minitxt {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    color: #777;
}

.menu_wrap .towsomemenu_list li a::after {
    content: "";
    display: block;
    border: 1px solid #ddd;
}


.main_contnet .tab_con .tab_list .slider .btn_prev {
    position: absolute;
    background: #555;
    bottom: 0%;
    left: 10%;
    transform: translate(0%, 0%);
}


.main_contnet .tab_con .tab_list .slider .btn_next {
    position: absolute;
    background: #555;
    bottom: 0%;
    left: 15%;
    transform: translate(0%, 0%);
}

.alist_content {
    position: relative;
    max-width: 1920px;
    height: 1000px;
    padding: 120px 0;
    margin: 0 auto;
    background: url(../images/main_alist_ta.jpg) no-repeat center center/cover;
}

.alist_content .inner {
    max-width: 1200px;
}

.alist_content .inner h2 {
    font-size: 80px;
    font-weight: 900;
    color: #000;
    margin-bottom: 40px;
}

.alist_content .inner h2::before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    background: #d50037;
    top: 17%;
    left: 38%;
    transform: translate(-20%, 56%);
}

.alist_content .inner .backcontent .alistbox p {
    font-size: 48px;
    font-weight: 700;
    color: #222;
    line-height: 48px;
}

.alist_content .inner .backcontent .backbox span {
    font-size: 24px;
    font-weight: 600;
    color: #222;
    line-height: 64px;
}

.alist_content .inner .backcontent .backbox p {
    font-size: 16px;
    font-weight: 400;
    color: #666;
    line-height: 24px;
}


.brandbox_content {
    position: relative;
    max-width: 1920px;
    height: 1000px;
    padding: 120px 0;
    margin: 0 auto;
    background: #fff;
}

.brandbox_content .inner {
    width: 1200px;
}

.brandbox_content .menu_wrap {
    margin-left: 35%;
}

.brandbox_content h2 {
    font-size: 80px;
    font-weight: 900;
    color: #000;
}

.brandbox_content h2::before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    background: #d50037;
    top: 25%;
    left: 38%;
    transform: translate(30%, 56%);
}

.brandbox_content .img_box {
    display: grid;
}

.brandbox_content .box {
    display: flex;
    flex: 1;
}


.brandbox_content .img_box a img {
    max-width: 480px;
    height: 520px;
    margin: auto;
}

.brandbox_content .txt_box {
    margin: 5%;
}

.brandbox_content .txt_box strong {
    font-size: 32px;
    font-weight: 600;
    color: #222;
}

.brandbox_content .txt_box p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #333;
    margin-top: 24px;
}

.brandbox_content .txt_box strong img {
    width: 50px;
    height: 50px;
    margin: auto 0;
    margin-bottom: 16px;
}


.brandbox_content .itm_box .slick-prev {
    font-size: 0;
}

.brandbox_content {
    position: relative;
}

.brandbox_content .itm_box .slick-next {
    position: absolute;
    top: 62%;
    right: 4%;

    z-index: 2;

    font-size: 0;

    width: 35px;
    height: 35px;
    background-color: transparent;
}

.brandbox_content .itm_box .slick-prev {
    position: absolute;
    top: 62%;
    right: 29%;

    z-index: 2;

    font-size: 0;

    width: 35px;
    height: 35px;
    background-color:transparent;
}

.brandbox_content .iconbox {
    position: absolute;
    right: 20%;
    top: 60%;
    width: 235px;
    height: 40px;
    background-color: #444;
}

.brandbox_content .right{
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 17%;
}

.brandbox_content .left{
    position: absolute;
    cursor: pointer;
    left: 3%;
    top: 17%;
}

.story_content {
    position: relative;
    max-width: 1920px;
    height: 1000px;
    padding: 120px 0;
    margin: 0 auto;
    background: #f9f9f9;
    overflow: hidden;
}

.story_content .inner {
    width: 500px;
    margin: 0 auto;
}

.story_content h2 {
    font-size: 80px;
    font-weight: 900;
    color: #000;
    margin-top: 140px;
    margin-bottom: 28px;
    margin-left: 20px;
}

.story_content h2::before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    background: #d50037;
    top: 31%;
    right: 37%;
    transform: translate(0%, 52%);
}

.story_content .stroy_box {
    text-align: center;
    align-items: center;
}

.story_content .story_txt strong {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    color: #222;
}

.story_content .story_txt p {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #333;
    margin-top: 24px;
}

.story_content .story_bcon {
    position: relative;
    margin-top: 32px;
    display: flex;
    gap: 30px;
}

.story_content .story_bcon button {
    position: absolute;
    left: 8%;
}

.story_content .story_bcon button{
    position: relative;
    padding: 14px 28px 14px;
    border: 2px solid #333;
    display: inline-block;
    background: transparent;
    white-space: nowrap;

    color: #000;
    font-weight: 500;
    overflow: hidden;
    font-size: 16px;
    transition: 0.4s;
    z-index: 1;
    text-align: center;
}

.story_content .story_bcon button::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 0;
    background: #999;
    color: #fff;
    transition: 0.6s;
}

.story_content .story_bcon button:hover::before{
    top: auto;
    bottom: 0;
    height: 100%;
}

.story_content .story_bcon button:hover::after {
    content: "";
    display: inline-block;
}




.story_content .story_bcon img {
    width: 24px;
    height: 20px;
    margin-left: 3px;
    margin-top: 2px;
}

.story_content {
    position: relative;
}


.story_content .dot1 {
    position: absolute;
    top: 78%;
    left: 30%;
}

.story_content .dot2 {
    position: absolute;
    top: 88%;
    left: 35%;
}

.story_content .dot3 {
    position: absolute;
    top: 88%;
    left: 42%;
}

.story_content .dot4 {
    position: absolute;
    top: 78%;
    left: 44%;
}


.story_content .dot4 {
    position: absolute;
    top: 88%;
    left: 52%;
}


.story_content .dot5 {
    position: absolute;
    top: 88%;
    left: 58%;
}


.story_content .dot6 {
    position: absolute;
    top: 78%;
    left: 62%;
}

.story_content .dot7 {
    position: absolute;
    top: 88%;
    left: 67%;
}


.story_content .dot8 {
    position: absolute;
    top: 48%;
    left: 46%;
}

.story_content .dot9 {
    position: absolute;
    top: 48%;
    right: 36%;
}

.newscontetn {
    position: relative;
    max-width: 1920px;
    height: 9;
    padding: 120px 0;
    margin: 0 auto;
}

.newscontetn .inner {
    max-width: 1200px;
}

.newscontetn h2 {
    font-size: 80px;
    font-weight: 900;
    color: #000;
    margin-bottom: 28px;
}

.newscontetn h2 {
    display: grid;
}

.newscontetn h2 img {
    margin-top: 38%;
}

.newscontetn h2::before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    background: #d50037;
    top: 32%;
    left: 37%;
    transform: translate(80%, 80%);
}

.newscontetn .inner {
    display: flex;
    gap: 28%;
}

.newscontetn .mainnews_box .main_news_box .main{
    font-size: 12px;
    font-weight: 500;
    color: #d50037;
    margin-bottom: 8px;
    margin-top: 32px;
}

.newscontetn .mainnews_box .main_news_box span {
    font-size: 16px;
    font-weight: 700;
    color: #222;
}

.newscontetn .mainnews_box .main_news_box p {
    font-size: 12px;
    font-weight: 500;
    color: #222;
    margin-top: 8px;
}

.newscontetn .mainnews_box {
    display: grid;
    gap: 5%;
}

.newscontetn .main_news_box{
    position: relative;
    width: 420px;
    height: 140px;
    border: 1px solid #333;
    display: inline-block;
    background: transparent;
    white-space: nowrap;

    color: #000;
    font-weight: 500;
    overflow: hidden;
    font-size: 14px;
    transition: 0.6s;
    z-index: 1;
    text-align: center;
    align-items: center;
}

.newscontetn .main_news_box::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 0;
    background: #999;
    color: #fff;
    transition: 0.5s;
    text-align: center;
    align-items: center;
}

.newscontetn .main_news_box:hover::before{
    top: auto;
    bottom: 0;
    height: 100%;
}

.newscontetn .main_news_box:hover::after {
    content: "";
    display: inline-block;
}